
body {
	background: #15202b !important;
	color: white !important;
	margin-left: 3em !important;
}

.left_column_border {
	border-right: 1px solid rgb(55,68,78);
}

.col-2 img {
	width: 1.5em;
}

.profile img {
	width: 1.8em;
	border-radius: 50px;
}

.bookmark img {
	width: 1.2em;
}

.logo img {
	width: 2em;
	padding-bottom: 5px;
}

.logo {
	width: 26% !important;
}

.tweet {
	border-radius: 999px !important;
	font-weight: bold !important;
	margin-top: 1.5em;
	width: 100%;
	height: 5em;
}

.home {
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid rgb(55,68,78);
}

.home span {
	margin-left: 0.5em;
	margin-bottom: 0.3em;
}

.star img {
	width: 1.2em;
	margin-left: 23em;
}

.star {
	background-color: transparent !important;
	border-color: transparent !important;
	float: right;
}

.centre_col {
	border-right: 1px solid rgb(55,68,78);
	border-left: 1px solid rgb(55,68,78);
	margin-top: 1em;
}

.right_col {
	margin-top: 1em;
}

.search input {
	width: 93%;
	border-radius: 999px !important;
	background-color: rgb(36, 51, 65);
	border-color: transparent;
}

.cog button {
	width: 10%;
	background-color: transparent;
	border-color: transparent;
	float: right;
	margin-right: 5px;
}

.top_right_heading {
	height: 2em;
}

.right_menu {
	background-color: rgb(27,39,51);
	width: 93%;
	border-radius: 15px !important;
	height: 35em;
}

.trend {
	margin-top: 0.5em;
}

.show_more span {
	font-size: 16px;
	color: rgb(46,161,234);
}

.show_more button {
	margin-top: 0.2em;
}

.right_down_menu {
	background-color: rgb(27,39,51);
	width: 100%;
	border-radius: 10px !important;
	margin-top: 2em;
	height: 15em;
}

.first_account {
	margin-top: 1em;
}

.new_tweet {
	height: 10%;
	border-bottom: 1px solid rgb(55,68,78);
}

.new_tweet img {
	margin-top: 1.1em;
	margin-left: 2em;
}

.photo img {
	width: 3em;
	border-radius: 30px;
}

.news input {
	border-radius: 999px !important;
	background-color: rgb(36, 51, 65);
	border-color: transparent !important;
	width:70%;
	height: 2.5em;
	margin-top: 1.2em;
}

.post img {
	margin-top: 2em;
	margin-left: 2em;
}

<<<<<<< HEAD
.post span {
	font-size: 16px;
	color: white;
	font-weight: bold;
}	

.post {
	height: 42em;
	border-bottom: 1px solid rgb(55,68,78);
}

.post_content {
	width: 80%;
	margin-left: 5.5em;
}

.post_content img {
	border-radius: 10px;
	width: 80%;
}


=======
>>>>>>> 05ad925c1db0712890fd6bc88a644d83c415b96c
